---
title: 'Silver Alcid'
description: 'Web Development for SMBs'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1350">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Exclusively for Small Businesses</span>
                <h1 class="cs-title">Hand-Coded Website Design & Development</h1>
                <p class="cs-text">
                    Say goodbye to slow page builders and WordPress - I build 100% custom hand-coded websites with astonishingly fast load times for <b>$0 down-payment</b>.
                </p>
                <a href="#pricing" class="cs-button-solid">Learn More</a>
            </div>
        </div>
        <!--Bubble Groups-->
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
        <!-- Background Image, background image added in the css at 1600px for parallax effect -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                About                         -->
    <!-- ============================================ -->

    <section id="about">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="assets\images\headshot.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="assets\images\headshot.jpg">
                    <img loading="lazy" decoding="async" src="assets\images\headshot.jpg" alt="people" width="605868" height="690">
                </picture>
                <!-- <div class="cs-box">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                    <span class="cs-desc">
                        Convert more visitors into customers.
                    </span>
                </div> -->
            </div>
            <div class="cs-content">
                <!-- <span class="cs-topper">About</span> -->
                <h2 class="cs-title">A Simple Process with Incredible Results</h2>
                <p class="cs-text">
                    Hello there! My name is Silver and I specialize in building visually stunning hand-coded websites that prioritize your customer's experience.
                </p>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <h3 class="cs-h3">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                            1st Place in Speed
                        </h3>
                        <p class="cs-item-text">
                            Clean code that loads fast and guarantees the best search ranking possible.
                        </p>
                    </li>
                    <li class="cs-item">
                        <h3 class="cs-h3">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                            Client Priority
                        </h3>
                        <p class="cs-item-text">
                            I work tirelessly to make sure all my client's needs are met beyond expectations.
                        </p>
                    </li>
                </ul>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        Flexible and Affordable Pricing
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        Tailored Services for Your Business
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        Mobile-First Responsive Design
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        Clean Search Engine Optimization
                    </li>
                </ul>
                <a href="#contact" class="cs-button-solid">Discover More</a>
            </div>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                 Pricing                      -->
    <!-- ============================================ -->

    <section id="pricing">
        <div class="cs-container">
            <div class="cs-content">
                <!-- <span class="cs-topper">Pricing & Services</span> -->
                <h2 class="cs-title">$0 Down, $150 per Month <br>6 Month Contract</h2>
                <p class="cs-text">
                    $0 down for a standard 5 page small business website. Lump Sum and custom pricing and personalized packages available based on the scope of work, number of additional pages, and time involved.
                </p>
                <p class="cs-text">
                    <strong>Complete ownership without the stress of maintenance. Cancel anytime with no fees or hassle.</strong>
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why1.svg" alt="icon" width="24" height="24">
                        Hosting Fees Included
                    </h3>
                    <p class="cs-item-text">
                        No need to worry about hosting, I've got you covered. Domain registration and handling can be taken care of as well.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why2.svg" alt="icon" width="24" height="24">
                        24/7 Customer Service
                    </h3>
                    <p class="cs-item-text">
                        Day or night, rain or shine. I'm just an email or phone call away for any issues and questions that you may have.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why3.svg" alt="icon" width="24" height="24">
                         Lightning Load Speed
                    </h3>
                    <p class="cs-item-text">
                        Handcrafted code means fast load times which result in more conversions and less frusturation.
                    </p>
                </li>
                <li class="cs-item-picture">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/test.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/test.png">
                        <img loading="lazy" decoding="async" src="assets/images/test.png" alt="people" width="590" height="418">
                    </picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why4.svg" alt="icon" width="24" height="24">
                        Unlimited Edits
                    </h3>
                    <p class="cs-item-text">
                        You read that right. Absolutely unlimited edits for the entirety of serivce.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why5.svg" alt="icon" width="24" height="24">
                        Website Included
                    </h3>
                    <p class="cs-item-text">
                        Most developers charge $1500+ for a custom website. With my service package, you get quality and personalization for a fraction of the price each month.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why6.svg" alt="icon" width="24" height="24">
                        Google Analytics
                    </h3>
                    <p class="cs-item-text">
                        Google setup and optimization. Your custom website will outperform the competition in every way.
                    </p>
                </li>
            </ul>
            <a href="#contact" class="cs-button-solid">Book Consultation</a>
        </div>
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="steps-1376">
        <div class="cs-container">
            <div class="cs-content">
                <!-- <span class="cs-topper">The Process</span> -->
                <h2 class="cs-title">Committed to High Standards and a Stress-Free Experience</h2>
            </div>
            <!--
                We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
            -->
            <div class="cs-card-group">
                <div class="cs-group1">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step1.svg" alt="icon"
                                width="48" height="48" />
                        </picture>
                        <h3 class="cs-h3">Discovery</h3>
                        <p class="cs-item-text">
                            Free consultation and guided onboarding to make sure your business needs are met.
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step4.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Development</h3>
                        <p class="cs-item-text">
                            Your custom design will be developed from scratch ensuring stunningly fast speeds.
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step2.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Delivery & Launch</h3>
                        <p class="cs-item-text">
                            Meticulously planned launch and accounting for every detail to ensure a smooth website debut.
                        </p>
                    </div>
                </div>
                <div class="cs-group2">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Design</h3>
                        <p class="cs-item-text">
                            Hand-coded design crafted to your specs. We only move to development after you approve the design.
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Testing</h3>
                        <p class="cs-item-text">
                            Your handcrafted website will be rigorously tested and responsive optimized.
                        </p>
                    </div>
                </div>
                <picture class="cs-waves">
                    <!--Mobile Image-->
                    <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg" alt="wave" width="1280" height="568">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <div class="cs-content">
                <!-- <span class="cs-topper">Testimonials</span> -->
                <h2 class="cs-title">Happy Client Feedback</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                    <p class="cs-item-text">
                        Silver was amazing to work with. It's unbelievable how much smoother his website is compared to my old one. He built so fast and so beautifully!
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Krystyn F.
                            <span class="cs-job">Founder - Starbarks</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                    <p class="cs-item-text">
                        I want to say a huge thank you to Silver for his services! He made starting my new business  incredibly stress-free. I can't recommend him enough.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Byron A.
                            <span class="cs-job">Founder - Host Made Simple</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>
                                         

    <!-- ============================================ -->
    <!--                   Portfolio                  -->
    <!-- ============================================ -->

    <section id="portfolio">
        <div class="cs-container">
            <div class="cs-content">
                <!-- <span class="cs-topper">Our Portfolio</span> -->
                <h2 class="cs-title">Recent Works</h2>
                <p class="cs-text">
                    Dive on into my recent projects, each a testament to my commitment to quality. From responsive designs to user-friendly interfaces, each project illustrates my ability to translate complex ideas into seamless digital experiences.
                </p>
            </div>
            <ul class="cs-image-group">
                <!-- Card 1 -->
                <li class="cs-item">
                    <a href="https://starbarks.dog/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="assets\images\agency-portfolio-1.png">
                            <source media="(min-width: 601px)" srcset="assets\images\agency-portfolio-1.png">
                            <img loading="lazy" decoding="async" src="assets\images\agency-portfolio-1.png" alt="responsive website" width="346" height="346">
                        </picture>
                        <!-- <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Voyage</h3>
                                <span class="cs-desc">A complete Travel Agency App UI</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div> -->
                    </a>
                </li>
                <!-- Card 2 -->
                <li class="cs-item">
                    <a href="https://sweetwaterplumbing.netlify.app/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="assets\images\agency-portfolio-2.png">
                            <source media="(min-width: 601px)" srcset="assets\images\agency-portfolio-2.png">
                            <img loading="lazy" decoding="async" src="assets\images\agency-portfolio-2.png" alt="modern house" width="346" height="346">
                        </picture>
                        <!-- <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Matcha and Co</h3>
                                <span class="cs-desc">A Tea Brand E-commerce Website</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture> 
                        </div>-->
                    </a>
                </li>
                <!-- Card 3 -->
                <!-- <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png" alt="modern home at night" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Bradley</h3>
                                <span class="cs-desc">This is Psychologist's Portfolio landing page UI header.</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li> -->
                <!-- Card 4 -->
                <!-- <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png" alt="modern home" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Anthony</h3>
                                <span class="cs-desc">A Men's Skin Care website</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li> -->
                <!-- Card 5 -->
                <!-- <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png" alt="appliance" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Quizlingo</h3>
                                <span class="cs-desc">A complete Vocabulary Game App UI</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li> -->
                <!-- Card 6 -->
                <!-- <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png" alt="modern home" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Listee</h3>
                                <span class="cs-desc">A Business Directory Listing Website</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li> -->
            </ul>
            <!-- <a href="/" class="cs-button-solid">View All Works</a> -->
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact">
        <div class="cs-container">
            <div class="cs-content">
                <!-- <span class="cs-topper">Contact Us</span> -->
                <h2 class="cs-title">Get in Touch</h2>
                <p class="cs-text">
                    Ready to upgrade your small business? Contact me today and schedule your free consultation.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Phone</span>
                            <a href="tel:888-4565-789
                            " class="cs-link">(910) 434-5317 
                            </a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Email</span>
                            <a href="mailto:contact@silveralcid.com" class="cs-link">contact@silveralcid.com</a>
                        </div>
                    </li>
                    <!-- <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Address</span>
                            <a href="" class="cs-link">2553 Woodbridge Lane, Boston Ware 120</a>
                        </div>
                    </li> -->
                </ul>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post" netlify>
                <h3 class="cs-h3">Book Consultation</h3>
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}