---
title: 'Silver Alcid'
description: 'Web Development for SMBs'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1349">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Exclusively for Small Businesses</span>
                <h1 class="cs-title">Uncomplicated Web Design & Development</h1>
                <p class="cs-text">
                    Say goodbye to slow page builders and WordPress - I offer 100% custom hand-coded websites with astonishingly fast load times for <b>$0 down-payment</b>.
                </p>
                <a href="" class="cs-button-solid">Free Consultation</a>
            </div>
        </div>
        <!--Bubble Groups-->
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
        <!-- Background Image, background image added in the css at 1600px for parallax effect -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer-t.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer.jpg" alt="web designer" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="about">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg" alt="people" width="605868" height="690">
                </picture>
                <div class="cs-box">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                    <span class="cs-desc">
                        We’ve Over 26 Years of Experience
                    </span>
                </div>
            </div>
            <div class="cs-content">
                <span class="cs-topper">WHy choose us</span>
                <h2 class="cs-title">Why Choose Our Professional Digital Solutions</h2>
                <p class="cs-text">
                    On the other hand, we denounce with righteous indignation dislike men who areso beguiled and demoralized by the charms of pleasure moment blinded by desire that they cannot foresee
                </p>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <h3 class="cs-h3">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                            Quality Services
                        </h3>
                        <p class="cs-item-text">
                            There are many variations of but the majority is simply free suffered.
                        </p>
                    </li>
                    <li class="cs-item">
                        <h3 class="cs-h3">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                            Quality Services
                        </h3>
                        <p class="cs-item-text">
                            There are many variations of but the majority is simply free suffered.
                        </p>
                    </li>
                </ul>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        Digital Solutions Provider Agency
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        Unicode, UTF8 & Character Sets The Ultimate Guide
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        WordPress Guides For The Advanced Beginner
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                        Digital Clean Checklist Prepared New Year
                    </li>
                </ul>
                <a href="" class="cs-button-solid">Discover More</a>
            </div>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="pricing">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing & Services</span>
                <h2 class="cs-title">$0 Down, $150 per Month <br>6 Month Contract</h2>
                <p class="cs-text">
                    $0 down for a standard 5 page small business website. Custom pricing and personalized packages available based on the scope of work, number of additional pages, and time involved.
                </p>
                <p class="cs-text">
                    <strong>You own your domain, content, listing, and everything. <br>Cancel anytime with no fees or hassle.</strong>
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why1.svg" alt="icon" width="24" height="24">
                        Hosting Fees Included
                    </h3>
                    <p class="cs-item-text">
                        No need to worry about hosting, I've got you covered. Domain registration and handling service is available as well.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why2.svg" alt="icon" width="24" height="24">
                        24/7 Customer Service
                    </h3>
                    <p class="cs-item-text">
                        Day or night, rain or shine. I'm just an email or phone call away for any issues and questions that you may have.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why3.svg" alt="icon" width="24" height="24">
                        Perfect Google Speed
                    </h3>
                    <p class="cs-item-text">
                        Handcrafted code means fast loading times. Fast load times mean better Google ranking and SEO. 
                        <br><br>It's as simple as that.
                    </p>
                </li>
                <li class="cs-item-picture">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hand-shake.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hand-shake.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hand-shake.jpg" alt="people" width="590" height="418">
                    </picture>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why4.svg" alt="icon" width="24" height="24">
                        Unlimited Edits
                    </h3>
                    <p class="cs-item-text">
                        That's right. Any edits you need done will be taken care of ASAP.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why5.svg" alt="icon" width="24" height="24">
                        Web Design & Develop
                    </h3>
                    <p class="cs-item-text">
                        Most freelancers charge $1,500 or more for a website. With me, both web design and development is absolutely free and included in your service package.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why6.svg" alt="icon" width="24" height="24">
                        Google Analytics
                    </h3>
                    <p class="cs-item-text">
                        Setup and optimization. Your custom coded website will outperform the competition in every way.
                    </p>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Get Started Now</a>
        </div>
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="steps-1376">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">The Process</span>
                <h2 class="cs-title">Committed to High Standards and a Stress-Free Workflow</h2>
            </div>
            <!--
                We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
            -->
            <div class="cs-card-group">
                <div class="cs-group1">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step1.svg" alt="icon"
                                width="48" height="48" />
                        </picture>
                        <h3 class="cs-h3">Discovery</h3>
                        <p class="cs-item-text">
                            Free consultation and guided onboarding to make sure your business needs are met.
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step4.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Development</h3>
                        <p class="cs-item-text">
                            Your custom design will be developed from scratch ensuring stunningly fast speeds.
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step2.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Delivery & Launch</h3>
                        <p class="cs-item-text">
                            Meticulously planned launch and accounting for every detail to ensure a smooth website debut.
                        </p>
                    </div>
                </div>
                <div class="cs-group2">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Design</h3>
                        <p class="cs-item-text">
                            Hand-coded design crafted to your specs. We only move to development after you approve the design.
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Testing</h3>
                        <p class="cs-item-text">
                            Your handcrafted website will be rigorously tested and responsive optimized.
                        </p>
                    </div>
                </div>
                <picture class="cs-waves">
                    <!--Mobile Image-->
                    <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg" alt="wave" width="1280" height="568">
                </picture>
            </div>
        </div>
    </section>


    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Reviews</span>
                <h2 class="cs-title">Happy Client’s Feedback</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                    <p class="cs-item-text">
                        Working with Silver was an amazing experience. His design and execution was impeccable and he made launching our new e-commerce shop so easy.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Byron A.
                            <span class="cs-job">Co-Founder of Host Made Simple</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                    <p class="cs-item-text">
                        I just want to say a huge thank you to Silver. I've been getting so many referrals ever since I had Silver renovate my website. The speed and responsiveness is amazing!
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Krystyn F.
                            <span class="cs-job">Founder of Starbarks</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Portfolio                  -->
    <!-- ============================================ -->

    <section id="portfolio">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Portfolio</span>
                <h2 class="cs-title">Explore Our Recently Completed Work</h2>
                <p class="cs-text">
                    We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.
                </p>
            </div>
            <ul class="cs-image-group">
                <!-- Card 1 -->
                <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png" alt="fancy house" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Voyage</h3>
                                <span class="cs-desc">A complete Travel Agency App UI</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li>
                <!-- Card 2 -->
                <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png" alt="modern house" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Matcha and Co</h3>
                                <span class="cs-desc">A Tea Brand E-commerce Website</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li>
                <!-- Card 3 -->
                <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png" alt="modern home at night" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Bradley</h3>
                                <span class="cs-desc">This is Psychologist's Portfolio landing page UI header.</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li>
                <!-- Card 4 -->
                <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png" alt="modern home" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Anthony</h3>
                                <span class="cs-desc">A Men's Skin Care website</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li>
                <!-- Card 5 -->
                <!-- <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png" alt="appliance" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Quizlingo</h3>
                                <span class="cs-desc">A complete Vocabulary Game App UI</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li> -->
                <!-- Card 6 -->
                <!-- <li class="cs-item">
                    <a href="/" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png" alt="modern home" width="346" height="346">
                        </picture>
                        <div class="cs-item-text">
                            <div class="cs-flex">
                                <h3 class="cs-h3">Listee</h3>
                                <span class="cs-desc">A Business Directory Listing Website</span>
                            </div>
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                                alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </div>
                    </a>
                </li> -->
            </ul>
            <!-- <a href="/" class="cs-button-solid">View All Works</a> -->
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get in Touch</h2>
                <p class="cs-text">
                    We are a team of passionate and creative individuals dedicated to crafting captivating designs that leave a lasting impression.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Phone</span>
                            <a href="tel:888-4565-789
                            " class="cs-link">+1 (888) 4565 789
                            </a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Email</span>
                            <a href="mailto:Email@stitch.com" class="cs-link">Email@stitch.com</a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Address</span>
                            <a href="" class="cs-link">2553 Woodbridge Lane, Boston Ware 120</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post">
                <h3 class="cs-h3">Make Appointment</h3>
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <!-- <section id="pricing-1384">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Pricing</span>
                <h2 class="cs-title">Flexible Pricing Plans for Your Tailored Needs</h2>
                <p class="cs-text">
                    In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-flex">
                        <span class="cs-package">Basic Pack</span>
                        <span class="cs-price">
                            $75
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li cs-disabled">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </li>
                <li class="cs-item cs-popular">
                    <div class="cs-flex">
                        <span class="cs-package">Standard Pack</span>
                        <span class="cs-price">
                            $99
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Most Popular
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <span class="cs-package">Corporate Pack</span>
                        <span class="cs-price">
                            $299
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li">Outstanding Support</li>
                        <li class="cs-li">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </li>
            </ul>
        </div>
    </section> -->

    
    {% include 'components/cta.html' %}
{% endblock %}