---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1349">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome To Stitch Agency</span>
                <h1 class="cs-title">Small Business Web Design & Development</h1>
                <p class="cs-text">
                    No page builders or WordPress - We offer superior 100% hand-coded websites with starting at $150/mo.
                </p>
                <a href="" class="cs-button-solid">Free Consultation</a>
            </div>
        </div>
        <!--Bubble Groups-->
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
        <!-- Background Image, background image added in the css at 1600px for parallax effect -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer-t.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer.jpg" alt="web designer" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>


    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="steps-1376">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Process</span>
                <h2 class="cs-title">We’re Committed to Maintain Standard Work Process</h2>
            </div>
            <!--
                We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
            -->
            <div class="cs-card-group">
                <div class="cs-group1">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step1.svg" alt="icon"
                                width="48" height="48" />
                        </picture>
                        <h3 class="cs-h3">Discovery</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step2.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Strategy</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Design</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                        </p>
                    </div>
                </div>
                <div class="cs-group2">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step4.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Development</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                                height="32" />
                        </picture>
                        <h3 class="cs-h3">Test & Launch</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                        </p>
                    </div>
                </div>
                <picture class="cs-waves">
                    <!--Mobile Image-->
                    <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg" alt="wave" width="1280" height="568">
                </picture>
            </div>
        </div>
    </section>


    <!-- ============================================ -->
    <!--                   Pricing                    -->
    <!-- ============================================ -->

    <section id="pricing-1385">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Pricing</span>
                <h2 class="cs-title">Flexible Pricing Plans for Your Tailored Needs</h2>
                <p class="cs-text">
                    In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
                </p>
                <div class="cs-toggle-group">
                    <span id="cs-option1-1385" class="cs-plan">Option 1</span>
                    <div class="cs-toggle" aria-label="click to switch plans pricing">
                        <span aria-hidden="true" class="cs-toggle-switch"></span>
                    </div>
                    <span id="cs-option2-1385" class="cs-plan">Option 2</span>
                </div>
            </div>
            <ul class="cs-card-group cs-option1">
                <li class="cs-item">
                    <div class="cs-flex">
                        <span class="cs-package">Basic Pack</span>
                        <span class="cs-price">
                            $75
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li cs-disabled">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </li>
                <li class="cs-item cs-popular">
                    <div class="cs-flex">
                        <span class="cs-package">Standard Pack</span>
                        <span class="cs-price">
                            $99
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <span class="cs-package">Corporate Pack</span>
                        <span class="cs-price">
                            $299
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li">Outstanding Support</li>
                        <li class="cs-li">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </li>
            </ul>
            <ul class="cs-card-group cs-option2">
                <li class="cs-item">
                    <div class="cs-flex">
                        <span class="cs-package">Basic Pack</span>
                        <span class="cs-price">
                            $75
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li cs-disabled">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </li>
                <li class="cs-item cs-popular">
                    <div class="cs-flex">
                        <span class="cs-package">Standard Pack</span>
                        <span class="cs-price">
                            $99
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <span class="cs-package">Corporate Pack</span>
                        <span class="cs-price">
                            $299
                            <span class="cs-duration">/Month</span>
                        </span>
                        <div class="cs-tag">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                            Hot Deal
                        </div>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li">Outstanding Support</li>
                        <li class="cs-li">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </li>
            </ul>
        </div>
    </section>


    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1378">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We’re Commited to Deliver Top High Quality Services</h2>
                <p class="cs-text">We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.</p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h3 class="cs-h3">Full Development</h3>
                    <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                    <a href="/" class="cs-link">
                        <img class="cs-arrow" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow" width="413" height="374" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-media.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h3 class="cs-h3">Media Strategy</h3>
                    <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                    <a href="/" class="cs-link">
                        <img class="cs-arrow" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow" width="413" height="374" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-alert.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h3 class="cs-h3">Effective Marketing</h3>
                    <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                    <a href="/" class="cs-link">
                        <img class="cs-arrow" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow" width="413" height="374" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-meter.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h3 class="cs-h3">SEO Optimization</h3>
                    <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                    <a href="/" class="cs-link">
                        <img class="cs-arrow" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow" width="413" height="374" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-design.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h3 class="cs-h3">UX / UI Design</h3>
                    <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                    <a href="/" class="cs-link">
                        <img class="cs-arrow" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow" width="413" height="374" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-image.svg" alt="icon" width="48" height="48">
                    </picture>
                    <h3 class="cs-h3">Photo and Print</h3>
                    <p class="cs-item-text">Blanket term for a whole gamut of different holistic, non-medical, physical procedures aimed at helping you achieve</p>
                    <a href="/" class="cs-link">
                        <img class="cs-arrow" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow" width="413" height="374" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
    {% include 'components/cta.html' %}
{% endblock %}